body {
  font-family: sans-serif;
  background: #223;
  color: #ededed;
}

h1 {
  text-align: center;
  width: 80%;
  padding: 0.2em;
  margin: 0 auto;
  color: #ededee;
  border-bottom: 2px solid #445;
}

.word-cloud-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.topic-word {
  cursor: pointer;
}

.volume-verylow {
  font-size: 1em;
  line-height: 1;
}
.volume-low {
  font-size: 1.25em;
  line-height: 1;
}
.volume-medium {
  font-size: 1.5em;
  line-height: 1;
}
.volume-high {
  font-size: 1.75em;
  line-height: 1;
}
.volume-veryhigh {
  font-size: 2em;
  line-height: 1;
}
.volume-epic {
  font-size: 3em;
  line-height: 1;
}

.sentiment-neutral { color: grey; }
.sentiment-positive { color: green; }
.sentiment-negative { color: red; }
