body {
  font-family: sans-serif;
}

.topic-word {
  color: black;
}

.volume-verylow {
  font-size: 1em
}
.volume-low {
  font-size: 1.25em
}
.volume-medium {
  font-size: 1.5em
}
.volume-high {
  font-size: 1.75em
}
.volume-veryhigh {
  font-size: 2em
}
.volume-epic {
  font-size: 3em
}

.sentiment-neutral { color: grey; }
.sentiment-positive { color: green; }
.sentiment-negative { color: red; }
