body {
  font-family: sans-serif;
  background: #223;
  color: #ededed;
  height: 100%;
}

h1 {
  text-align: center;
  width: 80%;
  padding: 0.2em;
  margin: 0 auto;
  color: #ededee;
  border-bottom: 2px solid #445;
}

.word-cloud-container {
  width: 70%;
  /*margin: 0 auto;*/
  float: left;
}


.topic-word:hover {
  fill: #fff;
}

.sentiment-neutral { color: #AAB; fill: #AAB; }
.sentiment-positive { color: #9F9; fill: #9F9; }
.sentiment-negative { color: #F99; fill: #F99; }

.selected-topic {
  fill: #fff;
  stroke-width: 2px;
}

.selected-topic.sentiment-neutral { stroke: #AAB; }
.selected-topic.sentiment-positive { stroke: #9F9; }
.selected-topic.sentiment-negative { stroke: #F99; }

.details {
  width: 30%;
  float: right;
}

.topic-word {
  cursor: pointer;
}

.volume-verylow {
  font-size: 1em;
  line-height: 1;
}
.volume-low {
  font-size: 1.25em;
  line-height: 1;
}
.volume-medium {
  font-size: 1.5em;
  line-height: 1;
}
.volume-high {
  font-size: 1.75em;
  line-height: 1;
}
.volume-veryhigh {
  font-size: 2em;
  line-height: 1;
}
.volume-epic {
  font-size: 3em;
  line-height: 1;
}
