<div class="topics">


  <h1 class="header">Brandwatch Topic Cloud</h1>

  {{word-cloud data=wordCloudData selected=(action "selected")}}

  {{!-- {{#each middleOutTopics as |topic|}}

    {{#link-to 'topics.topic' topic class="topic-word"}}{{topic-word topic volumeRanges volumeLabels}}{{/link-to}}

  {{/each}} --}}

  <div class="details">{{outlet}}</div>


</div>
